*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "BentonSans", sans-serif;
}

html {
    // This defines what 1rem is.
    font-size: 62.5%; // 1rem = 10px; 10px/16px = 62.5%

    @include respond(tab-land) { font-size: 56.25%; } // 1rem = 9px; 9px/16px = 56.25% // width < 1200px?

    @include respond(tab-port) { font-size: 50%; } // 1rem = 8px; 8px/16px = 50% // width < 900px?
    
    @include respond(big-desktop) { font-size: 75%; } // 1rem = 12px; 12px/16px = 75%
}

::selection {
    background-color: $color-primary-light;
    color: $color-white;
}