
//--------------------------------ABOUT SECTION STYLING---------------------------------------//

.about {
  min-height: 110%;
  display: flex;
  justify-content: center;
  align-items: center;

  .aboutContent {
    @include setSectionStructure;

    h5 {
      @include h5;
    }

    h1 {
      @include h1;
    }

    p {
      @include p;
    }

    button {
      @include button;
      width: 230px;

      &:hover {
        @include buttonHover;
      }
    }
  }
}

// SMALL MOBILE SIZE

@media only screen
and (min-device-width: 320px)
and (max-device-width: 639px)
and (-webkit-min-device-pixel-ratio: 2) {

  .about {
    @include media-resizeSection;
    min-height: 40%;

    p {
      font-size: 12px;
    }
  }

}

// MEDIUM MOBILE SIZE

@media only screen
and (min-device-width: 375px)
and (max-device-width: 639px)
and (-webkit-min-device-pixel-ratio: 2) {

  .about {
    @include media-resizeSection;
    min-height: 45%;

    p {
      font-size: 12px;
    }
  }

}

// LARGE MOBILE SIZE

@media only screen
and (min-device-width: 425px)
and (max-device-width: 639px)
and (-webkit-min-device-pixel-ratio: 2) {

  .about {
    @include media-resizeSection;
    min-height: 50%;

    p {
      font-size: 12px;
    }
  }

}

// TABLET SIZE

@media only screen
and (min-device-width: 639px)
and (max-device-width: 1024px)
and (-webkit-min-device-pixel-ratio: 1) {

  .about {
    @include media-resizeSection;
    min-height: 80%;

    p {
      font-size: 14px;
    }
  }

}

//--------------------------------------------------------------------------------------------//