.about {
    min-height: 40vh;
    padding: 3rem;
    background-color: $color-primary-light;
    display: flex;
    justify-content: space-around;

    &__heading {
        font-size: 2.5rem;
        text-transform: uppercase;
        font-family: brandon-grotesque-black;
    }

    &__paragraph {
        width: 70vw;
        font-size: $default-font-size;

        .btn-dark {
            width: 14vw;
            padding: 1rem 2rem;
            text-decoration: none;
            text-transform: uppercase;
            font-family: gin-regular;
            background-color: $color-primary-dark;
            color: $color-primary-light;
            border: 1px solid $color-primary-dark;
            transition: all .3s;
    
            &:hover {
                border: 1px solid $color-primary-dark;
                background-color: $color-primary-light;
                color: $color-primary-dark;
            }
        }
    }
}

@media screen and (min-width: 300px) and (max-width: 600px) {
    .about {
        min-height: 70vh;
        flex-direction: column;
    }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
    .about {
        min-height: 60vh;
        flex-direction: column;
    }
}

.aboutSection {
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

    &__heading {
        margin-top: -14rem;
        font-size: 2.5rem;
        text-transform: uppercase;
        font-family: brandon-grotesque-black;
    }

    &__paragraph {
        width: 70%;
        font-size: $default-font-size;
    }
}

@media screen and (min-width: 300px) and (max-width: 600px) {
    .aboutSection {
        height: 90vh;
        flex-direction: column;
        justify-content: center;

        &__heading {
            margin-top: 10rem;
        }

        &__paragraph {
            margin-top: 5rem;
            width: 70%;
        }
    }
}