// FONTS
@font-face {
    font-family: brandon-grotesque-medium;
    src: url("../assets/fonts/BrandonGrotesque-Medium.ttf");
}

@font-face {
    font-family: brandon-grotesque-black;
    src: url("../assets/fonts/BrandonGrotesque-Black.ttf");
}

@font-face {
    font-family: gin-regular;
    src: url("../assets/fonts/Gin-Regular.ttf");
}