
// COLORS
$color-primary-light: #FFFFFF;
$color-primary-dark: #231F20;

$color-secondary-light-1: #FAFAFA;
$color-secondary-light-2: #E6E7E8;
$color-secondary-dark: #B9B9B9;

// FONT
$default-font-size: 1.6rem;