.what-we-do {
    min-height: 90vh;
    padding: 3rem 3rem 3rem 4rem;
    background-color: $color-secondary-light-1;

    &__heading {
        font-size: 2.5rem;
        text-transform: uppercase;
        font-family: brandon-grotesque-black;
    }

    .card-container {
        margin-top: 2rem;
        display: flex;
        justify-content: space-between;

        .card {
            min-height: 50vh;
            width: 30rem;
            box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
            background-color: $color-primary-light;
            transition: all 0.3s;

            &:hover {
                transform: translateY(5px);
                box-shadow: 0 0.75rem 2rem rgba(0, 0, 0, 0.15);
            }

            &__image--1 {
                height: 30rem;
                width: 100%;
                background-size: cover;
                background-position: center;
                transform: rotate(90deg);
                background-image: 
                linear-gradient(to right, 
                rgba($color-primary-light, 0.3), 
                rgba($color-primary-light, 0.3)), 
                url(../assets/images/lathe.jpg);
            }

            &__image--2 {
                height: 30rem;
                width: 100%;
                background-size: cover;
                background-position: center;
                transform: rotate(180deg);
                background-image: 
                linear-gradient(to right, 
                rgba($color-primary-light, 0.3), 
                rgba($color-primary-light, 0.3)), 
                url(../assets/images/mill.jpg);
            }

            &__image--3 {
                height: 30rem;
                width: 100%;
                background-size: cover;
                background-position: center;
                background-image: 
                linear-gradient(to right, 
                rgba($color-primary-light, 0.3), 
                rgba($color-primary-light, 0.3)), 
                url(../assets/images/welding.jpg);
            }

            &__info {
                min-height: 50vh;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                &--heading {
                    font-family: gin-regular;
                    margin-bottom: 2rem;
                    font-size: 2rem;
                }

                &--paragraph {
                    text-align: center;
                    width: 20rem;
                    font-size: 1.5rem;
                    font-family: brandon-grotesque-medium;
                }
            }
        }
    }
}

@media screen and (min-width: 300px) and (max-width: 600px) {
    .what-we-do {
    
        .card-container {
            flex-direction: column;
            justify-content: center;
            align-items: center;
    
            .card {
                width: 30rem;
                box-shadow: none;
    
                &:hover {
                    transform: translateY(0px);
                    box-shadow: none;
                }
            }
        }
    }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
    .what-we-do {
    
        .card-container {
            flex-direction: column;
            justify-content: center;
            align-items: center;
    
            .card {
                width: 30rem;
                box-shadow: none;
    
                &:hover {
                    transform: translateY(0px);
                    box-shadow: none;
                }
            }
        }
    }
}