.top {

    &__heading-one {
        font-size: 4rem;
    }

    &__heading-two {
        font-size: 3rem;
    }

    &__heading-three {
        font-size: 1.6rem;
    }
}

.bottom {

    &__list {
        list-style: none;
        width: 32%;
    }

    &__item {
        margin-top: 1rem;
        transition: all .3s;

        &:hover {
            transform: translateY(-4px);
            color: var(--color-primary-dark);
            background-color: var(--color-primary-light-1);
        }
    }

    &__link {
        text-decoration: none;
        color: currentColor;

        display: flex;
        align-items: center; 
    }

    &__icon {
        width: 1.5rem;
        height: 1.5rem;
        margin-left: .5rem;
        background-size: cover;
        fill: currentColor;
    }

    &__name {
        font-size: 1.6rem;
        margin-left: 1.5rem;
    }
}

.right {
    position: absolute;
    top: 0;
    right: 0;

    display: flex;
    flex-direction: column;

    &__link {
        text-decoration: none;
        color: var(--color-primary-light-2);
    }

    &__icon {
        width: 22rem;
        height: 22rem;
        fill: currentColor;

        margin-right: -3rem;
        margin-top: -3.5rem;
    }
}