// =======================================================================================================
// CONTAINER STYLINGS

.container {
    height: 100vh;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}