// =======================================================================================================
// FONT INCLUDES

@font-face {
    font-family: DustismoGIT;
    src: url(../fonts/dustismo.ttf);
}

// =======================================================================================================
// COLOR VARIABLES

:root {
    --color-primary-dark: #3A2E39;
    --color-primary-light-1: #F4D8CD;
    --color-primary-light-2: #EDB183;
}

// =======================================================================================================
// RESET STYLINGS

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; // 1rem = 10px; (10px/16px = 62.5%);
}

body {
    background-color: var(--color-primary-dark);
    color: var(--color-primary-light-1);
    font-family: DustismoGIT;
    font-size: 1.4rem;
    line-height: 1.6;

    box-sizing: inherit;
}