.aboutSection {
  min-height: 100%;

  &__about {
    padding: 15rem 10rem 5rem 10rem;

    &__paragraph {
      margin-top: 3.5rem;
      line-height: 1.7;
      font-weight: lighter;
    }
  }

  &__people {
    background-color: $color-light-grey;
    padding: 5rem 10rem;

    &__container {
      margin-top: 3.5rem;

      display: flex;
      align-items: center;

      & > *:not(:first-child) {
        margin-left: 6rem;
      }
    }

    &__image {
      width: 24rem;
      border-radius: 0.6rem;
    }
  }

  &__satisfied {
    padding: 5rem 10rem;

    &__paragraph {
      margin-top: 3.5rem;
      line-height: 1.7;
      font-weight: lighter;

      span {
        font-weight: 900;
        color: $color-blue;
      }
    }
  }
}
