.navigationSection {
  padding: 5rem;
  width: 100%;
  background-color: $color-white;

  position: fixed;
  z-index: 99;

  display: flex;
  justify-content: space-between;
  align-items: center;

  box-shadow: 1px 2px 3px rgba($color-black, 0.1);

  .navigation {
    & > *:not(:first-child) {
      margin-left: 2rem;
    }

    &__social {
      & > *:not(:last-child) {
        margin-right: 2rem;
      }

      img {
        width: 2rem;
      }
    }
  }
}
