/*
0 - 600px:          Phone
600px - 900px:      Tablet Portrait
900px - 1200px:     Tablet Landscape
[1200px - 1800px] is where our normal styles apply
1800px + :          Big Desktop

$breakpoint argument choices:
    - phone
    - tab-port
    - tab-land
    - big-desktop
    
    1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "BentonSans", sans-serif; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

::selection {
  background-color: #DD0030;
  color: #FFFFFF; }

@keyframes slide-right {
  0% {
    transform: translateX(0); }
  1.82%, 20% {
    transform: translateX(-100%); }
  21.82%, 40% {
    transform: translateX(-200%); }
  41.82%, 60% {
    transform: translateX(-300%); }
  61.82%, 100% {
    transform: translateX(-400%); } }

.logo {
  width: 4rem;
  height: auto;
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 9999; }
  @media only screen and (min-width: 112.5em) {
    .logo {
      width: 6rem; } }

.section {
  height: 100vh;
  width: 100vw;
  display: flex;
  overflow: hidden; }

.event {
  width: 100%;
  height: 100%;
  padding: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  word-wrap: break-word;
  animation-duration: 55s;
  animation-timing-function: ease;
  animation-delay: 10s;
  animation-fill-mode: forwards;
  animation-name: slide-right; }
  @media only screen and (max-width: 56.25em) {
    .event {
      padding: 8rem;
      flex-direction: column; } }
  .event__time {
    background-color: #DD0030;
    color: #FFFFFF;
    width: 30vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    @media only screen and (max-width: 56.25em) {
      .event__time {
        width: 40vw;
        height: 30vh;
        margin-bottom: 3rem; } }
    @media only screen and (min-width: 112.5em) {
      .event__time {
        height: 40vh; } }
    .event__time__day-month {
      font-size: 14rem;
      font-weight: 300;
      line-height: 12.4rem; }
      @media only screen and (max-width: 56.25em) {
        .event__time__day-month {
          font-size: 10rem;
          line-height: 8.4rem; } }
      @media only screen and (min-width: 112.5em) {
        .event__time__day-month {
          font-size: 16rem;
          line-height: 14.4rem; } }
    .event__time__month {
      font-size: 8rem;
      font-weight: 300;
      text-transform: uppercase; }
      @media only screen and (max-width: 56.25em) {
        .event__time__month {
          font-size: 6rem; } }
      @media only screen and (min-width: 112.5em) {
        .event__time__month {
          font-size: 10rem; } }
    .event__time__allday {
      font-size: 3rem;
      font-weight: 100; }
      @media only screen and (max-width: 56.25em) {
        .event__time__allday {
          font-size: 2rem; } }
      @media only screen and (min-width: 112.5em) {
        .event__time__allday {
          font-size: 4rem; } }
    .event__time__start-end {
      font-size: 2rem;
      font-weight: 100; }
      @media only screen and (min-width: 112.5em) {
        .event__time__start-end {
          font-size: 3rem; } }
  .event__info {
    width: 70vw;
    min-height: 30%;
    padding: 0 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    @media only screen and (max-width: 56.25em) {
      .event__info {
        width: 100vw; } }
    @media only screen and (min-width: 112.5em) {
      .event__info {
        justify-content: center; } }
    .event__info__header {
      color: #DD0030;
      font-size: 1.8rem; }
      @media only screen and (max-width: 56.25em) {
        .event__info__header {
          font-size: 1.6rem; } }
      @media only screen and (min-width: 112.5em) {
        .event__info__header {
          font-size: 3rem; } }
    .event__info__title {
      color: #000000;
      font-size: 2rem;
      text-align: center; }
      @media only screen and (min-width: 112.5em) {
        .event__info__title {
          font-size: 4rem; } }
    .event__info .event__info__location {
      color: #000000;
      font-size: 1.8rem;
      font-weight: lighter;
      text-align: center; }
      @media only screen and (min-width: 112.5em) {
        .event__info .event__info__location {
          font-size: 3rem; } }
    .event__info .event__info__description {
      margin-top: 3rem;
      font-size: 1.6rem;
      font-weight: lighter;
      width: 80%; }
      @media only screen and (max-width: 56.25em) {
        .event__info .event__info__description {
          width: 70%; } }
      @media only screen and (min-width: 112.5em) {
        .event__info .event__info__description {
          font-size: 2.8rem; } }
