/* ================================================================= */
/* FONT INCLUDES */

@font-face {
  font-family: DustismoGit;
  src: url("fonts/dustismo.ttf");
}

/* ================================================================= */
/* CSS VARIABLES */

:root {
  --color-primary-dark: #3A2E39;
  --color-primary-light-1: #F4D8CD;
  --color-primary-light-2: #EDB183;
}

/* ================================================================= */
/* RESET STYLING */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 1rem = 10px; 10/16 = 62.5% */
}

body {
  box-sizing: inherit;
  font-family: DustismoGit;
  color: var(--color-primary-light-1);
  background-color: var(--color-primary-dark);
  font-size: 1.4rem;
  font-weight: 100;
  min-height: 100vh;
}

/* ================================================================= */
/* CONTAINER STYLING */

.container {
  padding: 5rem;
  display: flex;
}

.left-container {
  flex: 0 0 70%;
  display: flex;
  flex-direction: column;
}

.right-container {
  flex: 1;

  background-color: blue;
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: column;
}

/* ================================================================= */
/* INTRO STYLING */

.intro {
  background-color: green;
}

.intro__heading-one {
  font-size: 4.5rem;
}

.intro__heading-two {
  font-size: 2.5rem;
}

.intro__heading-three {
  font-size: 1.6rem;
}

/* ================================================================= */
/* PROJECTS STYLING */

.projects {
  background-color: orange;
}

.projects__list {
  list-style: none;
}

.projects__item {

}

.projects__link {
  color: currentColor;
  text-decoration: underline;
}

.projects__github-icon {
  background-image: url("svg/github-logo.svg");
}
