.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 4rem;
  box-sizing: border-box;
}

.OutputContainer {
  margin-top: 3rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}